<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <title>{% block title %}кондитерская{% endblock %}</title>
</head>
<body>
   <h2 style="text-align: center;"><span style="color: #520b5a;"><strong>добро пожаловать в кондитерскую</strong></span></h2>
<h1 style="text-align: center;"><span style="color: #510e59;"><strong>marie's candies&nbsp;</strong></span></h1>
<p style="text-align: center;"><span style="color: #000000;"><span style="color: #510e59;">  &hearts;</span> торты на заказ <span style="color: #510e59;">  &hearts;</span> </span></p>
    {% block content %}{% endblock %}
</body>
</html>